
  tbody tr:nth-child(5) {
    background-color: aquamarine;
  }
 .saldo{
  border-color: aquamarine;
 }
  .vorMonBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 5px;
    font-size: 13px;
    position: absolute;
    left: 14px;
    border-radius: 15px;
  }
  .nextMonBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 5px;
    font-size: 13px;
    position: absolute;
    right: 14px;
    border-radius: 15px;
  }