
<table style="width:240px;position: relative; top:20px;left:40%;background-color: lightblue" >
    <tr>
        <th > 
            <p>S-Nummer:</p>
        </th>
        <th > 
            <p>{{snr}}</p>
        </th>

      </tr>
      <tr>
          <th > 
              <p>Name: </p>
          </th>
          <th > 
              <p>{{userName}}</p>
          </th>
  
        </tr>
        <tr>
            <th > 
                <p>Vorname: </p>   
            </th>
            <th > 
                <p> {{userVorname}}</p>
            </th>
    
          </tr>
          <tr>
              <th > 
                  <p>Fakultät: </p> 
              </th>
              <th > 
                  <p>{{userFak}}</p>
              </th>
      
            </tr>
           




