<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item  (click)="showAZE()">Arbeitszeiterfassung</a>
      <a mat-list-item  (click)="showMeineDaten()">Meine Daten</a>
      <a mat-list-item  (click)="showBerichte()">Berichte</a>
      <a mat-list-item  (click)="showBHB()">Benutzerhandbuch</a>
      <a mat-list-item  (click)="showKontakt()">Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hallo   S{{snr}}!</span>
    </mat-toolbar>
    
    
    <app-timetable hidden="false" id="timetable"></app-timetable>
    <app-meine-daten hidden = true id="meineDaten"></app-meine-daten>
    <app-kontakt hidden = true id="kontakt"></app-kontakt>
    <app-berichte hidden = true id="berichte"></app-berichte>
    <app-benutzerhandbuch hidden = true id="bhb"></app-benutzerhandbuch>

  </mat-sidenav-content>

</mat-sidenav-container>
