.sidenav-container {
  height: 100%;
 
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: aqua;
}
.sidenav-content{
  
}
.vorMonBtn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  position: relative;
  left: 14px;
  border-radius: 15px;
  top: 11px;
}
