<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Arbeitszeiterfassung</a>
      <a mat-list-item href="#">Meine Daten</a>
      <a mat-list-item href="#">Berichte</a>
      <a mat-list-item href="#">Benutzerhandbuch</a>
      <a mat-list-item href="#">Kontakt</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hallo User!</span>
    </mat-toolbar>
    <button class="vorMonBtn"><i class="fa fa-chevron-circle-left fa-lg "></i> Vormonat</button>
    <app-timetable></app-timetable>

  </mat-sidenav-content>

</mat-sidenav-container>
